

input {
  
  caret-color:purple;
  
 
}

.form {
  margin: 0;
  padding: 20px 0px;
  background: #ecf0f3;
  display: flex;
  text-align: center;
  align-items: center;
  overflow: hidden;
  font-family: poppins;
  width: 100%;
 
}

.form-section {
  position: relative;
  width: 60vw;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #d1cbd0, -14px -14px 20px white;
  max-width: 600px;
}



.title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color:purple;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
  max-width: 500px;
  
}

.form-label, .form-input, .form-button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.form-label {
  margin-bottom: 4px;
}

.form-label:nth-of-type(2) {
  margin-top: 12px;
}

.form-input::placeholder {
  color: gray;
}

.form-input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.form-button {
  color: white;
 
  background: #1DA1F2;
  
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  margin-top: 20px;
}

.form-button:hover {
  box-shadow: none;
}

#add-bt{
  background-color: rgb(140, 72, 140);
}

